{% extends 'index.html' %}
{% block contenido_interno %}
{% load static %}
    <br/><h1>Cartelera</h1><br/>
    {% for peli in peliculas %}
    <div class="contenido-pelicula">
        <div class="datos-pelicula">
            <h2>{{ peli.titulo }}</h2><br/>
            <p>{{ peli.sinopsis }}</p>
            <br/>
            <div class="boton-pelicula">
                {% if peli.idestado == 1 %}
                    <a href="{% url 'pelicula' peli.id %}">
                        <img src="{% static 'img/varios/btn-mas-info.jpg' %}" width="120" height="30" alt="Ver info"/>
                    </a>
                {% elif peli.idestado == 2 %}
                    <a href="{% url 'pelicula' peli.id %}">
                        <img src="{% static 'img/varios/btn-mas-info.jpg' %}" width="120" height="30" alt="Ver info"/>
                    </a>
                {% endif %}
            </div>
            <div class="boton-pelicula"> 
                <a href="https://www.youtube.com/v/{{ peli.link }}" target="_blank" onclick="return hs.htmlExpand(this, { objectType: 'iframe' } )" >
                    <img src="{% static 'img/varios/btn-trailer.jpg' %}" width="120" height="30" alt="Ver trailer"/>
                </a>
            </div> 
        </div>
        <img src="{% static 'img/pelicula/' %}{{ peli.id }}.jpg" width="160" height="226"/><br/><br/>
    </div>
    {% endfor %}
{% endblock %}
