{% extends 'index.html' %}
{% block contenido_interno %}
{% load static %}
    <br/><h1>Cartelera</h1><br/>
    <div class="contenido-pelicula">
        <div class="datos-pelicula">
            <h2>{{ pelicula.titulo }}</h2>
            <p>{{ pelicula.sinopsis }}</p>
            <br/>
            <div class="tabla">
                <div class="fila">
                    <div class="celda-titulo">Título Original :</div>
                    <div class="celda">{{ pelicula.titulo }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Estreno :</div>
                    <div class="celda">{{ pelicula.fechaestreno }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Género :</div>
                    <div class="celda">{{ pelicula.generos_nombres }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Director :</div>
                    <div class="celda">{{ pelicula.director }}</div>
                </div>
                <div class="fila">
                    <div class="celda-titulo">Reparto :</div>
                    <div class="celda">{{ pelicula.reparto }}</div>
                </div>
            </div>
        </div>
        <img src="{% static 'img/pelicula/' %}{{ pelicula.id }}.jpg" width="160" height="226"><br/><br/>
    </div>
    <div class="pelicula-video">
        <embed src="https://www.youtube.com/v/{{ pelicula.link }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="580" height="400">
    </div>
{% endblock %}
